@tailwind base;
@tailwind components;
@tailwind utilities;



.faq-container.with-gradient::after {
  @apply block absolute inset-x-0 bottom-0 pointer-events-none;
  content: "";
  height: 200px; /* Increased height */
  background: linear-gradient(to top, var(--color-faq-background, hsl(0, 0%, 98%)) 0%, transparent); /* Start color transition immediately and use a darker color */
}

.dark .faq-container.with-gradient::after {
  background: linear-gradient(to top, hsl(0, 0%, 3.9%) 0%, transparent); /* Use a darker color and start color transition immediately */
}


/* Custom font import */
@font-face {
  font-family: 'TransducerTest';
  src: url('/TransducerTest-Black-Regular.otf') format('opentype');
  font-weight: bold;
  font-style: normal ;
}

/* In your CSS or SCSS file */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');



@layer base {
  :root {
    --font-sans: "Inter", sans-serif;
    --background: 0 0% 98%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 98%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 98%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 95.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 95.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 95.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 72.2% 50.6%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 72.2% 50.6%;
  }
}

@layer_old base {
  :root {
    --text-color: #374150;
    --font-sans: "Inter", sans-serif;
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    /* --background: 224 71% 4%; */
    --background: 260 5% 11%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 260 5% 11%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 260 5% 11%;
    --card-foreground: 213 31% 91%;

    --border: 0 0% 20%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 0 0% 20%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer base {
  * {
      @apply border-border;
  }
  body {
      @apply bg-background text-foreground;
      font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {
  .modal-enter {
      opacity: 0;
      transform: scale(0.9);
  }
  .modal-enter-active {
      opacity: 1;
      transform: scale(1);
      transition: opacity 300ms, transform 300ms;
  }
  .modal-exit {
      opacity: 1;
      transform: scale(1);
  }
  .modal-exit-active {
      opacity: 0;
      transform: scale(0.9);
      transition: opacity 300ms, transform 300ms;
  }
}
